* {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

@font-face {
    font-family: 'wow';
    src: url('../Nexa_Free_Bold-webfont.woff2')format('woff2'),
         url('../Nexa_Free_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wow2';
    src: url('../Nexa_Free_Light-webfont.woff2')format('woff2'),
         url('../Nexa_Free_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	overflow-y:hidden;
	background-image: url(dew://assets/mmenu/bg.jpg);
	background-size: cover;
}

.wrapper {
	font-family: 'wow';
	display: inline-block;
	position: relative;
	width: 50vh;
	height: auto;
	margin: auto auto;
	margin-left: 7vw;
	top: 3vh;
}

.title {
	width: auto;
	font-family: 'wow';
	font-size: 2.5vh;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #FFFFFF;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu {
	margin-bottom: -1px;
	padding-left: 35px;
	height: 6vh;
	width: auto;
	line-height: 6vh;
	font-family: 'wow2';
	font-size: 0.8vh;
	cursor: pointer;
	color: #FFFFFF;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	border-left: 8px solid rgba(255,255,255,0);
}
	
.menu:hover {
	background-color: rgba(255,255,255,0.25);
	background-size: auto;
	border-left: 0.8vh solid rgba(255,255,255,0.5);
	background-clip: padding-box;
}

	

