* {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}


@font-face {
    font-family: 'wow2';
    src: url('../Nexa_Free_Light-webfont.woff2')format('woff2'),
         url('../Nexa_Free_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'wow';
    src: url('../Nexa_Free_Bold-webfont.woff2')format('woff2'),
         url('../Nexa_Free_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@keyframes flash {
	from,
	50%,
	to {
		opacity: 0.6;
	}
	25%,
	75% {
		opacity: 0.4;
	}
}

@keyframes exitFlash {
	from,
	50%,
	to {background-color: rgba(51,51,51,1)}
	25%,
	75% {background-color: rgba(87,87,87,1)}
}

body {
	overflow-y:hidden;
	overflow-x: hidden;
	background-color: #000000;
	background-size: cover;
	font-family: "wow2";
	letter-spacing: 3px;
}

.backgroundVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.filter {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	background-image: url(dew://assets/multiplayermenu/filter.png);
	background-size: cover;
}

.wrapper {
	display: inline-block;
	position: relative;
	width: 50vh;
	height: auto;
	margin: auto auto;
	margin-left: 2.5vw;
	top: 3.5vh;
}

.title {	
	width: auto;
	font-size: 2.5vh;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #FFFFFF;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	font-family: "wow";
	text-shadow:1px 1px 20px #ccc;

}

.menu {	
	z-index: 3;
	height: 6vh;
	width: auto;
	line-height: 6vh;
	font-size: 0.8vh;
	cursor: pointer;
	color: #FFFFFF;
	border-left: 8px solid rgba(255,255,255,0);
}

.menubackground {
	z-index: 2;
	margin-bottom: -1px;
	padding-left: 35px;
	height: 6vh;
	width: auto;
	font-size: 0.8vh;
	cursor: pointer;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	border-left: 0.8vh solid rgba(255,255,255,0);
}

.menubackground:hover {
	background-color: rgba(255,255,255,0.33);
	background-size: auto;
	border-bottom: 1px solid rgba(255,255,255,1);
	border-left: 0.8vh solid rgba(255,255,255,1);
	background-clip: padding-box;
	animation: flash 3s infinite;
}

.backButton {
    z-index: 10;
    width: 10vh;
    height: 6vh;
	line-height: 6vh;
    text-align: center;
    color: #FFFFFF;
}

.backButtonBackground {
	position: absolute;
	z-index: 9;
	margin-right: 7vw;
	right: 0;
	margin-bottom: 3.5vw;
	bottom: 0;
	float: right;
    z-index:9;
    width:10vh;
    height: 6vh;
    background-color: #010101;
    border: 1px solid rgba(255,255,255,1);
}
.backButtonBackground:hover {
	animation: exitFlash 4s infinite;
}

.blackscreen {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	background-color: #000000;
	background-size: cover;
	display: none;
}

#mapView {
	width: 50vh;
	z-index:9;
	outline: 1px solid #ffffff;
	outline-offset: -2px;
	margin-bottom: -4px;
	margin-top: 12.5vh
}

#variantView {
	position: absolute;
	top: 62.5vh;
	left: 3.5vh;
	height: 13vh;
	z-index:10;
}
.bottomUI {
	
	display: inline-flex;
	position: relative;
	margin-top: -0.80vh;
	margin-right: 0.5vh;
	height: 4vh;
	z-index:10;
	float: left;
	
}
.bottomuiText {
	display: inline-flex;
	margin-top: 5vh;
	font-size: 2vh;
	margin-left: -0.5vh;
	margin-right: 2vh;
	color: #FFFFFF;

}
.bottomuiText:hover {
text-decoration: underline;

}



#lobby{
	display: inline-block;
	position: relative;
	width: 50vh;
	height: auto;
	margin: auto auto;
	margin-left: 70vw;
	top: -78vh;    

}

#lobby #settingsButton, #lobby #exitButton{
    margin-bottom: -9.4vw;
}


.selected{
    background: -webkit-linear-gradient(left, rgba(199, 109, 41, 0.85) 0%, rgba(255, 110, 0, 0.25) 90%);
}



#rightSide{
    color:white;
    float: right;
    height: 100%;
    width: 30.5vw;
}

#playerCount{
    font-size:1.7vw;
    padding-left:3.5vw;
    margin-top:-4.19vw;
    letter-spacing: 0.06vw;    
}

#rightSide ul{
    padding:0;
    margin:0;
    margin-top:0.6vw;
}

#rightSide ul li{
    position: relative;
    font-size:2.07vw;
    width: 75.5%;
    list-style-type: none;
    height:2.7vw;
    padding-left:10.2%;
    margin-bottom:0.05vw;
    letter-spacing: 0.033vw;
}

.emblem{
    height:1.75vw;
    margin-bottom:-0.15vw;
    margin-right:0.5vw;
    margin-left:-2.5vw;
}


#switchTeams{
	font-family: "wow";
	letter-spacing: 3px;
    position: absolute;
    bottom: -5.6vw;
    right: 12vw;
    color: white;
    width: 15vw;
    text-align: center;
}