* {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	cursor: pointer;
}

@font-face {
    font-family: 'wow2';
    src: url('../Nexa_Free_Light-webfont.woff2')format('woff2'),
         url('../Nexa_Free_Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'wow';
    src: url('../Nexa_Free_Bold-webfont.woff2')format('woff2'),
         url('../Nexa_Free_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@keyframes flash {
	from,
	50%,
	to {background-color: rgba(255,255,255,0.2)}
	25%,
	75% {background-color: rgba(255,255,255,0.34)}
}

@keyframes exitFlash {
	from,
	50%,
	to {background-color: rgba(51,51,51,1)}
	25%,
	75% {background-color: rgba(87,87,87,1)}
}

body {
	background: url(../idk.png);
	overflow-y:hidden;
	background-color: #000000;
	background-size: cover;
	font-family: "wow2";
	letter-spacing: 3px;
}

.backgroundVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.filter {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	background-image: url(dew://assets/mmenu/filter.png);
	background-size: cover;
}

.wrapper {
	display: inline-block;
	position: absolute;
	width: 50vh;
	height: auto;
	margin-left: 2.5vw;
	margin-bottom: 6vw;
	bottom: 0;
}

.title {
	width: auto;
	font-size: 2.5vh;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	width: 50vh;
	padding-bottom: 1.5vh;
}

.menu {
	z-index: 3;
	height: 6vh;
	width: auto;
	line-height: 6vh;
	font-size: 0.8vh;
	color: #FFFFFF;
	border-left: 8px solid rgba(255,255,255,0);
}

.menubackground {
	z-index: 2;
	margin-bottom: -1px;
	padding-left: 35px;
	height: 6vh;
	width: auto;
	font-size: 0.8vh;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	border-left: 0.8vh solid rgba(255,255,255,0);
}

.menubackground:hover {
	background-size: auto;
	border-left: 0.8vh solid rgba(255,255,255,1);
	background-clip: padding-box;
	animation: flash 4s infinite;
}

.exitButton {
    z-index: 10;
    width: 10vh;
    height: 6vh;
	line-height: 6vh;
    text-align: center;
    color: #FFFFFF;
}

.exitButtonBackground {
	position: absolute;
	z-index: 9;
	margin-right: 7vw;
	right: 0;
	margin-bottom: 3.5vw;
	bottom: 0;
	float: right;
    z-index:9;
    width:10vh;
    height: 6vh;
    background-color: #010101;
    border: 1px solid rgba(255,255,255,1);
}
.exitButtonBackground:hover {
	animation: exitFlash 4s infinite;
}

.blackscreen {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	background-color: #000000;
	background-size: cover;
	display: none;
}

#versionContainer {
	display: inline-flex;
	position: fixed;
	height: 1.5vh;
	width: auto;
	bottom: 0;
	overflow: hidden;
	justify-content: flex-end;
	transform: translateX(calc(-100% + 1vh));
	transition: all 0.25s;
}

#logo {
	width: 1.5vh;
	height: 1.5vh;
}

#versionString {
	line-height: 1.5vh;
	font-size: 1.125vh;
	font-weight: 100;
	color: #FFFFFF;
	padding-right: 10px;
}

#versionContainer:hover {
	transform: translateX(0);
}